@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
body {
    background: #34495e;
    color: white;
}

.index{
    margin: 3% auto;
    vertical-align: middle;
    background: #2c3e50;
    width: 620px;
    padding: 3% 5%;
    border-radius: 5px;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 34, 44, 0.8);
}
.title {
    margin: 0px;
    text-align: center;
    font-size: 8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-bottom: 1px solid white;
}
.group {
    margin: 30px 0px;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
ul {
    margin: 0px;
    list-style: none;
    text-align: center;
}